<section id="about" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">
                    {% for icon_box in icon_boxes %}
                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="{{ icon_box.icon_class }}"></i>
                                <h4>{{ icon_box.title }}</h4>
                                <p>{{ icon_box.description }}</p>
                            </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>