{% extends 'index.html' %}

{% block content %}
    <!-- ======= About ======= -->
    {% include 'about.html' %}

    <!-- ======= Menu Section ======= -->
    {% include 'menu.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'chefs.html' %}

    <!-- ======= Book A Table Section ======= -->
    {% if request.user.is_authenticated %}
        {% include 'booking_form.html' %}
    {% endif %}

    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}

{% endblock %}